body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    text-align: center;
}

.screen {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.computer, .user {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    font-size: 24px;
    border-radius: 12px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #ff0099;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button#enter, button#reset {
    grid-column: span 2;
    background-color: black;
    border-radius: 12px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: purple;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.modal-content h2 {
    margin: 0;
    margin-bottom: 20px;
}




